    /* Resets */
    
    * {
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
        color: #202124;
    }
    
    button {
        border: none;
    }
    
    .gradient-custom {
        background: #4872e7;
        background: linear-gradient(to right, rgb(38, 105, 182), rgb(92, 92, 218));
    }
    
    h1,
    h2,
    h3,
    input,
    button {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .my-text {
        font-family: "Caveat", cursive;
    }
    
    .list-group-item {
        background-color: #f4f6f7;
        color: #202124;
    }
    
    .blue:hover {
        color: blue;
    }
    
    .red:hover {
        color: red;
    }